{% set resource = hookable_metadata.context.resource %}

<div class="preview-default-data" style="display: none;">
    <span class="title">{{ resource.metadataTitle }}</span>
    <span class="description">{{ resource.metadataDescription }}</span>
    <span class="og-title">{{ resource.openGraphMetadataTitle }}</span>
    <span class="og-description">{{ resource.openGraphMetadataDescription }}</span>
    <span class="og-image">{{ dedi_sylius_seo_get_image_url(resource.openGraphMetadataImage) }}</span>
    <span class="og-url">{{ resource.openGraphMetadataUrl|default(sylius.channel.hostname) }}</span>
</div>

<div id="seo-content-preview" class="sticky-md-top">
    <div class="mb-3">
        <h4 class="header">Google</h4>

        <div id="google-preview" class="google-preview preview-container">
            <header class="preview-header">
                <aside class="preview-url">
                    {{ sylius.channel.hostname }} <i class="caret down icon"></i>
                </aside>
                <h3 class="preview-title"></h3>
            </header>

            <div class="preview-content">
                <p class="preview-description"></p>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <h4 class="header">X</h4>

        <div id="twitter-preview" class="twitter-preview preview-container">
            <div class="preview-left">
                <img class="preview-image" src="">
            </div>

            <div class="preview-right">
                <header class="preview-header">
                    <h3 class="preview-title"></h3>
                </header>

                <div class="preview-content">
                    <p class="preview-description"></p>
                    <aside class="preview-url"></aside>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <h4 class="header">Facebook</h4>

        <div id="facebook-preview" class="twitter-preview preview-container">
            <div class="preview-left">
                <img class="preview-image" src="">
            </div>

            <div class="preview-right">
                <header class="preview-header">
                    <aside class="preview-url"></aside>
                    <h3 class="preview-title"></h3>
                </header>

                <div class="preview-content">
                    <p class="preview-description"></p>
                </div>
            </div>
        </div>
    </div>
</div>